<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (drink()) {
      <div>
        <h2 data-cy="drinkDetailsHeading"><span jhiTranslate="slotApp.drink.detail.title">Drink</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">Código</span></dt>
          <dd>
            <span>{{ drink()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="slotApp.drink.nome">Nome</span></dt>
          <dd>
            <span>{{ drink()!.nome }}</span>
          </dd>
          <dt><span jhiTranslate="slotApp.drink.marca">Marca</span></dt>
          <dd>
            <span>{{ drink()!.marca }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
        </button>

        <button type="button" [routerLink]="['/drink', drink()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
